<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>zuht's Blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui inverted attached stackable menu">
		<div class="ui container">
			<a href="/" class="item">
				<i class="terminal icon"></i> zuht's Blog
			</a>
			<a class="item" href="/blogs/new">
				<i class="grid layout icon"></i> New Post
			</a>
			<div class="ui simple dropdown item">
				<i class="address card outline icon"></i>Contact
				<i class="dropdown icon" href="/contact"></i>
				<div class="menu">
					<a href="https://github.com/zachuht" target="_blank" class="item"><i class="github icon"></i> Github</a>
					<a href="/contact" class="item"><i class="mobile alternate icon"></i> Contact Info</a>
				</div>
			</div>
			<div class="right item">
				<div class="ui input"><input type="text" placeholder="Search..."></div>
			</div>
		</div>
	</div>