<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>zuht's Blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link rel="shortcut icon" href="/Users/zachuht/Documents/Portfolio/Blog/public/myicon.ico"/>
	<link rel="icon" href="/Users/zachuht/Documents/Portfolio/Blog/public/myicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="Blog/public/myicon.ico?r=32383" type="image/x-icon" />
</head>
<body>
	<div id="darkmode" class="ui inverted attached stackable menu">
		<div id="codeFont" class="ui container">
			<a href="/" class="item">
				<!-- <i class="code icon"></i> -->{ zachary uht } 
			</a>
			<a href="/blogs/new" class="item">
				<i class="pencil icon"></i> new
			</a>
			<a href="/contact" class="item">
				<i class="address card outline icon"></i> contact
			</a>
			<div class="right menu">
				<% if(!currentUser){ %>
					<!-- <a class="right item" href="/register">
						<i class="user plus icon"></i> register
					</a> -->
					<a class="right item" href="/login">
						<i class="user outline icon"></i> login
					</a>
					<% } else { %>
						<a class="right item" href="/contact"><i class="user icon"></i><%= currentUser.username.toLowerCase() %></a>
						<a class="right item" href="/logout">
							<i class="user outline icon"></i> logout
						</a>
					<% } %> 
			</div>
		</div>
	</div>