<% include partials/header %>
<div class="ui three column doubling stackable grid container">
  <div class="column">
    <p id="contactName">github</p>
    <i id="contactIcon" class="icon github alternate"></i><br>
    <hr><br>
    <a id="codeFont" target="_BLANK"href="https://github.com/zachuht">https://github.com/zachuht</a>
  </div>
  <div class="column">
    <p id="contactName">email</p>
    <i id="contactIcon" class="icon at"></i>
    <hr><br>
    <p id="codeFont">zachuht@gmail.com</p>
  </div>
  <div class="column">
    <p id="contactName">phone</p>
    <i id="contactIcon" class="icon phone"></i>
    <hr><br>
    <p id="codeFont">XXX-XXX-XXXX</p>
  </div>
</div>
<% include partials/footer %>