<% include partials/header %>
<div class="ui three column doubling stackable grid container">
  <div class="column">
    <p id="contactName">GITHUB</p>
    <i class="icon github alternate"></i><br>
    <hr><br>
    <a target="_BLANK"href="https://github.com/zachuht">https://github.com/zachuht</a>
  </div>
  <div class="column">
    <p id="contactName">EMAIL</p>
    <i class="icon at"></i>
    <hr><br>
    <p>zachuht@gmail.com</p>
  </div>
  <div class="column">
    <p id="contactName">PHONE</p>
    <i class="icon phone"></i>
    <hr><br>
    <p>XXX-XXX-XXXX</p>
  </div>
</div>
<% include partials/footer %>