<% include partials/header %>
<div class="ui main text container">
  <div id="codeFont" class="ui huge header">(login);</div>
      <form class="ui big form" action="/login" method="POST">
        <div class="seven wide field required">
          <label id="codeFont">username</label>
          <input type="text" name="username" placeholder="username">
        </div>
        <div class="seven wide field required">
          <label id="codeFont">password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <button id="codeFont" class="ui positive basic button">login</button>
      </form>
  </div>
</div>
<% include partials/footer %>