<% include partials/header %>
<div class="ui main text container">
  <div class="ui huge header">Login</div>
      <form class="ui big form" action="/login" method="POST">
        <div class="seven wide field required">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username">
        </div>
        <div class="seven wide field required">
          <label>Password</label>
          <input type="password" name="password" placeholder="Password">
        </div>
        <button class="ui positive basic button">Login</button>
      </form>
  </div>
</div>
<% include partials/footer %>