<% include partials/header %>
  <div id="entry" class="ui main text container segment">
    <div class="ui huge header">New Entry</div>
    <form class="ui form" action="/" method="PUT">
      <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
        <label>Image</label>
        <input type="text" name="image" placeholder="Image">
      </div>
      <div class="field">
        <label>Entry</label>
        <textarea placeholder="Entry"></textarea>
      </div>
      <button class="ui inverted violet button">Submit</button>
      <div id="right">
        <button class="ui circular facebook icon button">
            <i class="facebook icon"></i>
          </button>
          <button class="ui circular twitter icon button">
            <i class="twitter icon"></i>
          </button>
          <button class="ui circular linkedin icon button">
            <i class="linkedin icon"></i>
          </button>
          <button class="ui circular google plus icon button">
            <i class="google plus icon"></i>
          </button>
      </div>
    </form>
  </div>
<% include partials/footer %>