body {
  background-color: #f0f0f0;
}

#darkmode {
  background-color: rgb(40, 44, 47);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#header {
  margin: 20px;
}

#delete {
  display: inline;
}

#contactName {
  font-size: 2.5em;
  font-family: ANDALE MONO;
}

#contactIcon {
  font-size: 2em;
}

#codeFont {
  font-family: ANDALE MONO;
}

/* #footer {
  margin-top: 75px;
  background-color: rgb(40, 44, 47);
  text-align: right;
  font-family: ANDALE MONO;
  text-decoration: none;
  color: #f0f0f0;
  width: 100%;
} */

p ~ i {
  font-size: 1.5em;
}

i.icon {
  font-size: 1.2em;
}

div.ui.three.column {
  margin: 150px auto;
  text-align: center;
}

.container.main {
  margin-top: 50px;
}

hr {
  margin-top: 15px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}